In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Technical analysis
import talib as ta

# Datetime manipulation
from datetime import timedelta

# Ignore warnings
import warnings
warnings.simplefilter('ignore')

# Helper functions
from option_backtesting_file import get_IV_percentile, get_premium, get_expected_profit_empirical, setup_butterfly

In [2]:
# Read data
options_data = pd.read_pickle('nifty_options_data_2019_2022.bz2')
data = pd.read_pickle('nifty_data_2019_2022.bz2')
data.head()

,spot_open,spot_high,spot_low,spot_close,Expiry,futures_close
Date,,,,,,
2019-01-01,10881.70,10923.60,10807.10,10910.10,2019-01-31,10960.55
2019-01-02,10868.85,10895.35,10735.05,10792.50,2019-01-31,10830.85
2019-01-03,10796.80,10814.05,10661.25,10672.25,2019-01-31,10718.50
2019-01-04,10699.70,10741.05,10628.65,10727.35,2019-01-31,10777.60
2019-01-07,10804.85,10835.95,10750.15,10771.80,2019-01-31,10803.45

In [3]:
config = {
    'stop_loss_percentage': 30,
    'take_profit_percentage': 30, 
    'days_to_exit_before_expiry': 0
}

In [4]:
# Calculate ADX
data['ADX'] = ta.ADX(data.spot_high, data.spot_low, data.spot_close, timeperiod=14)

# Calculate IVP
data['IVP'] = get_IV_percentile(data, options_data, window = 60)

# Calculate days to expiry
data['days_to_expiry'] = (data['Expiry'] - data.index).dt.days

In [5]:
# IVP entry condition
condition_1 = (data['IVP'] >= 50) & (data['IVP'] <= 95)

# ADX entry condition
condition_2 = (data['ADX'] <= 30)

# Generate signal as 1 when both conditions are true
data['signal_adx_ivp'] = np.where(condition_1 & condition_2, 1, np.nan)

In [6]:
# Generate signal as 0 when days to expiry is less than days to exit before expiry
data['signal_adx_ivp'] = np.where(data.days_to_expiry <= config['days_to_exit_before_expiry'], 0, data['signal_adx_ivp'])
data.tail()

,spot_open,spot_high,spot_low,spot_close,Expiry,futures_close,ADX,atm_strike_price,IV,IVP,days_to_expiry,signal_adx_ivp
Date,,,,,,,,,,,,
2022-05-20,16043.80,16283.05,16003.85,16266.15,2022-05-26,16253.25,25.945619,16250.0,21.617889,53.333333,6,1.0
2022-05-23,16290.95,16414.70,16185.75,16214.70,2022-05-26,16183.35,24.958370,16200.0,26.973724,93.333333,3,1.0
2022-05-24,16225.55,16262.80,16078.60,16125.15,2022-05-26,16104.70,24.320691,16100.0,26.496887,90.000000,2,1.0
2022-05-25,16196.35,16223.35,16006.95,16025.80,2022-05-26,16013.80,23.914622,16000.0,28.594971,100.000000,1,NaN
2022-05-26,16105.00,16204.45,15903.70,16170.15,2022-05-26,16159.05,23.804497,16150.0,0.000000,99.166667,0,0.0

In [7]:
# Create dataframes for round trips, storing trades, and mtm
round_trips_details = pd.DataFrame()
trades = pd.DataFrame()
mark_to_market = pd.DataFrame()

# Function for calculating mtm
def add_to_mtm(mark_to_market, option_strategy, trading_date):
    option_strategy['Date'] = trading_date
    mark_to_market = pd.concat([mark_to_market, option_strategy])
    return mark_to_market

# Initialise current position, number of trades,cumulative pnl, stop-loss to 0 and take-profit to 100000
current_position = 0
trade_num = 0
cum_pnl = 0
sl = 0
tp = 100000

# Set exit flag to False
exit_flag = False

# Set start date for backtesting
start_date = data.index[0] + timedelta(days=90)

In [8]:
for i in data.loc[start_date:].index:

    if (current_position == 0) & (data.loc[i, 'signal_adx_ivp'] == 1):
        
        options_data_daily = options_data.loc[i]
        
        # Setup butterfly
        butterfly = setup_butterfly(data.loc[i,'futures_close'], options_data_daily, direction = "short") 
                   
        # Calculate Expected profit        
        price_range = list(options_data_daily['Strike Price'].unique())        
        
        from datetime import timedelta
        start_date = i - timedelta(days=90)        
        
        data.loc[i,'exp_profit'] = get_expected_profit_empirical(data.loc[start_date:i], 
                                    butterfly.copy(), data.loc[i, 'days_to_expiry'], price_range)
        
        if data.loc[i,'exp_profit'] < 0:
            
            # Check that the last price of any of the leg of the butterfly should be greater than 0
            if (butterfly.premium.isna().sum() > 0) or ((butterfly.premium == 0).sum() > 0):
                print(f"\x1b[31mStrike price not liquid so we will ignore this trading opportunity {i}\x1b[0m")
                continue
            
            # Populate the trades dataframe
            trades = butterfly.copy()
            trades['entry_date'] = i
            trades.rename(columns={'premium':'entry_price'}, inplace=True)            
            
            # Calculate net premium 
            net_premium = round((butterfly.position * butterfly.premium).sum(),1)
            
            # Compute SL and TP for the trade
            sl = net_premium * (1 - config['stop_loss_percentage']/100)
            tp = net_premium * (1 + config['take_profit_percentage']/100)
            
            # Update current position to 1
            current_position = 1
            
            # Update mark_to_market dataframe
            mark_to_market = add_to_mtm(mark_to_market, butterfly, i)
            
            # Increase number of trades by 1
            trade_num += 1   
            print("-"*30)
            
            # Print trade details
            print(f"Trade No: {trade_num} | Entry | Date: {i} | Premium: {net_premium} | Pnl: 0 | Cum PnL: {cum_pnl}")            
            
    elif current_position == 1:
        
        # Update net premium
        options_data_daily = options_data.loc[i]
        butterfly['premium'] = butterfly.apply(lambda r: get_premium(r, options_data_daily), axis=1)        
        net_premium = (butterfly.position * butterfly.premium).sum()
        
        # Update mark_to_market dataframe
        mark_to_market = add_to_mtm(mark_to_market, butterfly, i)
     
        # Exit the trade if any of the exit condition is met
        if data.loc[i, 'signal_adx_ivp'] == 0:
            exit_type = 'Expiry'
            exit_flag = True
            
                    
        elif net_premium < sl:
            exit_type = 'SL'
            exit_flag = True
                   
                    
        elif net_premium > tp:                               
            exit_type = 'TP'
            exit_flag = True
            
            
        if exit_flag:
            
            # Check that the data is present for all strike prices on the exit date
            if butterfly.premium.isna().sum() > 0:
                print(f"Data missing for the required strike prices on {i}, Not adding to trade logs.")
                current_position = 0
                continue
            
            # Append the trades dataframe
            trades['exit_date'] = i
            trades['exit_type'] = exit_type
            trades['exit_price'] = butterfly.premium
            
            # Add the trade logs to round trip details
            round_trips_details = pd.concat([round_trips_details,trades])
            
            # Calculate net premium at exit
            net_premium = round((butterfly.position * butterfly.premium).sum(),1)   
            
            # Calculate net premium on entry
            entry_net_premium = (trades.position * trades.entry_price).sum()       
            
            # Calculate pnl for the trade
            trade_pnl = round(net_premium - entry_net_premium,1)
            
            # Calculate cumulative pnl
            cum_pnl += trade_pnl
            cum_pnl = round(cum_pnl,2)
            
            # Print trade details
            print(f"Trade No: {trade_num} | Exit Type: {exit_type} | Date: {i} | Premium: {net_premium} | PnL: {trade_pnl} | Cum PnL: {cum_pnl}")                              

            # Update current position to 0
            current_position = 0    
            
            # Set exit flag to false
            exit_flag = False

Strike price not liquid so we will ignore this trading opportunity 2019-05-09 00:00:00
------------------------------
Trade No: 1 | Entry | Date: 2019-06-24 00:00:00 | Premium: 94.8 | Pnl: 0 | Cum PnL: 0
Trade No: 1 | Exit Type: TP | Date: 2019-06-26 00:00:00 | Premium: 125.4 | PnL: 30.7 | Cum PnL: 30.7
------------------------------
Trade No: 2 | Entry | Date: 2019-06-28 00:00:00 | Premium: 241.4 | Pnl: 0 | Cum PnL: 30.7
Trade No: 2 | Exit Type: TP | Date: 2019-07-22 00:00:00 | Premium: 342.8 | PnL: 101.4 | Cum PnL: 132.1
------------------------------
Trade No: 3 | Entry | Date: 2019-09-11 00:00:00 | Premium: 173.6 | Pnl: 0 | Cum PnL: 132.1
Trade No: 3 | Exit Type: TP | Date: 2019-09-23 00:00:00 | Premium: 292.7 | PnL: 119.0 | Cum PnL: 251.1
------------------------------
Trade No: 4 | Entry | Date: 2019-10-04 00:00:00 | Premium: 279.6 | Pnl: 0 | Cum PnL: 251.1
Trade No: 4 | Exit Type: TP | Date: 2019-10-29 00:00:00 | Premium: 394.2 | PnL: 114.6 | Cum PnL: 365.7
------------------------------
Trade No: 5 | Entry | Date: 2020-01-06 00:00:00 | Premium: 210.3 | Pnl: 0 | Cum PnL: 365.7
Trade No: 5 | Exit Type: SL | Date: 2020-01-27 00:00:00 | Premium: 136.6 | PnL: -73.7 | Cum PnL: 292.0
------------------------------
Trade No: 6 | Entry | Date: 2020-01-29 00:00:00 | Premium: 39.4 | Pnl: 0 | Cum PnL: 292.0
Trade No: 6 | Exit Type: Expiry | Date: 2020-01-30 00:00:00 | Premium: 49.9 | PnL: 10.4 | Cum PnL: 302.4
------------------------------
Trade No: 7 | Entry | Date: 2020-02-03 00:00:00 | Premium: 236.3 | Pnl: 0 | Cum PnL: 302.4
Trade No: 7 | Exit Type: TP | Date: 2020-02-12 00:00:00 | Premium: 322.2 | PnL: 85.9 | Cum PnL: 388.3
------------------------------
Trade No: 8 | Entry | Date: 2020-02-17 00:00:00 | Premium: 140.8 | Pnl: 0 | Cum PnL: 388.3
Trade No: 8 | Exit Type: TP | Date: 2020-02-26 00:00:00 | Premium: 195.5 | PnL: 54.8 | Cum PnL: 443.1
------------------------------
Trade No: 9 | Entry | Date: 2020-04-27 00:00:00 | Premium: 176.8 | Pnl: 0 | Cum PnL: 443.1
Trade No: 9 | Exit Type: Expiry | Date: 2020-04-30 00:00:00 | Premium: 249.6 | PnL: 72.8 | Cum PnL: 515.9
------------------------------
Trade No: 10 | Entry | Date: 2020-09-22 00:00:00 | Premium: 97.4 | Pnl: 0 | Cum PnL: 515.9
Trade No: 10 | Exit Type: Expiry | Date: 2020-09-24 00:00:00 | Premium: 149.8 | PnL: 52.4 | Cum PnL: 568.3
------------------------------
Trade No: 11 | Entry | Date: 2020-10-15 00:00:00 | Premium: 235.0 | Pnl: 0 | Cum PnL: 568.3
Trade No: 11 | Exit Type: SL | Date: 2020-10-28 00:00:00 | Premium: 121.5 | PnL: -113.5 | Cum PnL: 454.8
------------------------------
Trade No: 12 | Entry | Date: 2020-10-30 00:00:00 | Premium: 418.8 | Pnl: 0 | Cum PnL: 454.8
Trade No: 12 | Exit Type: TP | Date: 2020-11-10 00:00:00 | Premium: 575.1 | PnL: 156.3 | Cum PnL: 611.1
------------------------------
Trade No: 13 | Entry | Date: 2020-11-11 00:00:00 | Premium: 276.0 | Pnl: 0 | Cum PnL: 611.1
Trade No: 13 | Exit Type: SL | Date: 2020-11-25 00:00:00 | Premium: 151.4 | PnL: -124.6 | Cum PnL: 486.5
------------------------------
Trade No: 14 | Entry | Date: 2021-02-23 00:00:00 | Premium: 134.6 | Pnl: 0 | Cum PnL: 486.5
Trade No: 14 | Exit Type: TP | Date: 2021-02-24 00:00:00 | Premium: 186.8 | PnL: 52.2 | Cum PnL: 538.7
------------------------------
Trade No: 15 | Entry | Date: 2021-03-18 00:00:00 | Premium: 244.8 | Pnl: 0 | Cum PnL: 538.7
Trade No: 15 | Exit Type: SL | Date: 2021-03-24 00:00:00 | Premium: 139.0 | PnL: -105.9 | Cum PnL: 432.8
------------------------------
Trade No: 16 | Entry | Date: 2021-03-31 00:00:00 | Premium: 489.3 | Pnl: 0 | Cum PnL: 432.8
Trade No: 16 | Exit Type: SL | Date: 2021-04-26 00:00:00 | Premium: 284.4 | PnL: -204.9 | Cum PnL: 227.9
------------------------------
Trade No: 17 | Entry | Date: 2021-04-27 00:00:00 | Premium: 133.6 | Pnl: 0 | Cum PnL: 227.9
Trade No: 17 | Exit Type: Expiry | Date: 2021-04-29 00:00:00 | Premium: 200.8 | PnL: 67.2 | Cum PnL: 295.1
------------------------------
Trade No: 18 | Entry | Date: 2021-04-30 00:00:00 | Premium: 490.5 | Pnl: 0 | Cum PnL: 295.1
Trade No: 18 | Exit Type: Expiry | Date: 2021-05-27 00:00:00 | Premium: 639.8 | PnL: 149.3 | Cum PnL: 444.4
------------------------------
Trade No: 19 | Entry | Date: 2021-08-23 00:00:00 | Premium: 101.4 | Pnl: 0 | Cum PnL: 444.4
Trade No: 19 | Exit Type: Expiry | Date: 2021-08-26 00:00:00 | Premium: 137.0 | PnL: 35.6 | Cum PnL: 480.0
------------------------------
Trade No: 20 | Entry | Date: 2021-08-31 00:00:00 | Premium: 319.0 | Pnl: 0 | Cum PnL: 480.0
Trade No: 20 | Exit Type: TP | Date: 2021-09-23 00:00:00 | Premium: 425.1 | PnL: 106.1 | Cum PnL: 586.1
------------------------------
Trade No: 21 | Entry | Date: 2021-11-23 00:00:00 | Premium: 104.0 | Pnl: 0 | Cum PnL: 586.1
Trade No: 21 | Exit Type: Expiry | Date: 2021-11-25 00:00:00 | Premium: 36.1 | PnL: -67.9 | Cum PnL: 518.2
------------------------------
Trade No: 22 | Entry | Date: 2021-12-07 00:00:00 | Premium: 368.4 | Pnl: 0 | Cum PnL: 518.2
Trade No: 22 | Exit Type: SL | Date: 2021-12-27 00:00:00 | Premium: 218.4 | PnL: -150.0 | Cum PnL: 368.2
------------------------------
Trade No: 23 | Entry | Date: 2021-12-31 00:00:00 | Premium: 385.4 | Pnl: 0 | Cum PnL: 368.2
Trade No: 23 | Exit Type: TP | Date: 2022-01-13 00:00:00 | Premium: 510.1 | PnL: 124.8 | Cum PnL: 493.0
------------------------------
Trade No: 24 | Entry | Date: 2022-02-11 00:00:00 | Premium: 308.6 | Pnl: 0 | Cum PnL: 493.0
Trade No: 24 | Exit Type: Expiry | Date: 2022-02-24 00:00:00 | Premium: 454.7 | PnL: 146.1 | Cum PnL: 639.1
------------------------------
Trade No: 25 | Entry | Date: 2022-04-25 00:00:00 | Premium: 177.1 | Pnl: 0 | Cum PnL: 639.1
Trade No: 25 | Exit Type: Expiry | Date: 2022-04-28 00:00:00 | Premium: 249.5 | PnL: 72.4 | Cum PnL: 711.5
------------------------------
Trade No: 26 | Entry | Date: 2022-05-23 00:00:00 | Premium: 211.4 | Pnl: 0 | Cum PnL: 711.5
Trade No: 26 | Exit Type: Expiry | Date: 2022-05-26 00:00:00 | Premium: 29.6 | PnL: -181.8 | Cum PnL: 529.7

In [9]:
# Round trip details
round_trips_details.head()

,Option Type,Strike Price,position,entry_price,entry_date,exit_date,exit_type,exit_price
0,CE,11700,1,73.70,2019-06-24,2019-06-26,TP,161.55
1,PE,11700,1,54.00,2019-06-24,2019-06-26,TP,4.70
2,CE,11850,-1,17.95,2019-06-24,2019-06-26,TP,39.25
3,PE,11550,-1,15.00,2019-06-24,2019-06-26,TP,1.60
0,CE,11850,1,174.00,2019-06-28,2019-07-22,TP,1.15

In [10]:
# MTM details (We will use this dataframe in upcoming notebooks for trade level analytics)
mark_to_market.head()

  Option Type  Strike Price  position  premium       Date
0          CE         11700         1    73.70 2019-06-24
1          PE         11700         1    54.00 2019-06-24
2          CE         11850        -1    17.95 2019-06-24
3          PE         11550        -1    15.00 2019-06-24
0          CE         11700         1   106.00 2019-06-25